<div class="cardFlexWrapper">
</div>

<script>
    function createCards(a){
        var tempElement;
        var wrapperElement = document.getElementsByClassName("cardFlexWrapper")[0]
        var cardWrapper = document.getElementById("cardFlexWrapper");

        for(var i=0; i < a["contents"].length; i++){
            tempElement = document.createElement("div")
            tempElement.className="card1"
            tempElement.innerHTML = `<a href=\"/examples/${a["contents"][i][0].slice(0,-5)}\">${a["contents"][i][0]}</a>`
            wrapperElement.appendChild(tempElement);
        }
    }

    (function (){
        function ajax(method, url, callback){
            var xhr = new XMLHttpRequest();
            xhr.open(method, url);
            xhr.onload = function(){
                if (xhr.status === 200){
                    callback.call(this, xhr.responseText);
                }
            }
            xhr.send();
        }

        //creating Cards
        ajax("GET", "/api/contentList/", function(response){
            response = JSON.parse(response);
            createCards(response);
            makeEmptyCell(); // 콘텐츠가 추가되고, 레이아웃을 한번 정렬해줌.
        })
    }());
</script>