/*** basics ***/
*{
    margin:0;
    padding:0;
}

/*** Layouts ***/
/* index */
#indexFlexWrapper{
    display:flex;
    flex-flow: column wrap;
    align-items:center;
    min-height:100%;
    min-width:100%;
}

#indexHeader{
    flex: 0 0 100px;
}

#indexcontent{
    flex: 10 0 0;
}

#indexFooter{
    flex: 0 0 100px;
}

/* cards */
.cardFlexWrapper{
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    width:100%;
}

.card1{
    flex: 0 0 300px;
    width:300px;
    height:300px;
    margin: 10px;
    background-color: #FFF;
    box-shadow: 0 0 5px #777
}

.emptyCell{
    width:300px;
    height:300px;
    margin: 10px;
}